In [1]:
import pandas as pd
import numpy as np
import datetime
import os

print("Libraries imported successfully.")

Libraries imported successfully.

In [2]:
out_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/out_2022.csv")
set_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/set_2022.csv")
ago_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/ago_2022.csv")
jul_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/jul_2022.csv")
jun_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/jun_2022.csv")
mai_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/mai_2022.csv")
abr_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/abr_2022.csv")
mar_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/mar_2022.csv")
fev_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/fev_2022.csv")
jan_2022 = pd.read_csv("C:/Users/Vinicius/Cyclistic/jan_2022.csv")
dez_2021 = pd.read_csv("C:/Users/Vinicius/Cyclistic/dez_2021.csv")
nov_2021 = pd.read_csv("C:/Users/Vinicius/Cyclistic/nov_2021.csv")

display(out_2022)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A50255C1E17942AB,classic_bike,2022-10-14 17:13:30,2022-10-14 17:19:39,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member
1,DB692A70BD2DD4E3,electric_bike,2022-10-01 16:29:26,2022-10-01 16:49:06,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual
2,3C02727AAF60F873,electric_bike,2022-10-19 18:55:40,2022-10-19 19:03:30,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member
3,47E653FDC2D99236,electric_bike,2022-10-31 07:52:36,2022-10-31 07:58:49,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member
4,8B5407BE535159BF,classic_bike,2022-10-13 18:41:03,2022-10-13 19:26:18,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
558680,BC3BFA659C9AB6F1,classic_bike,2022-10-30 01:41:29,2022-10-30 01:57:16,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558681,ACD65450291CF95F,classic_bike,2022-10-30 01:41:54,2022-10-30 01:57:09,Clifton Ave & Armitage Ave,TA1307000163,Lincoln Ave & Roscoe St*,chargingstx5,41.918216,-87.656936,41.943350,-87.670668,casual
558682,4AAC03D1438E97CA,classic_bike,2022-10-15 09:34:11,2022-10-15 10:03:21,Sedgwick St & North Ave,TA1307000038,Wabash Ave & Grand Ave,TA1307000117,41.911386,-87.638677,41.891466,-87.626761,casual
558683,8E6F3F29785E5D40,classic_bike,2022-10-09 10:21:34,2022-10-09 10:43:45,Sedgwick St & North Ave,TA1307000038,Damen Ave & Clybourn Ave,13271,41.911386,-87.638677,41.931931,-87.677856,member
558684,8D14CBE672431920,docked_bike,2022-10-22 13:17:13,2022-10-22 13:46:14,Clark St & Armitage Ave,13146,Wabash Ave & Grand Ave,TA1307000117,41.918306,-87.636282,41.891466,-87.626761,casual

In [3]:
dataset = [out_2022,set_2022,ago_2022,jul_2022,jun_2022,mai_2022,abr_2022,mar_2022,fev_2022,jan_2022,dez_2021,nov_2021]
dataset = pd.concat(dataset)

print("Datasets merged successfully.")

dataset

Datasets merged successfully.

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A50255C1E17942AB,classic_bike,2022-10-14 17:13:30,2022-10-14 17:19:39,Noble St & Milwaukee Ave,13290,Larrabee St & Division St,KA1504000079,41.900680,-87.662600,41.903486,-87.643353,member
1,DB692A70BD2DD4E3,electric_bike,2022-10-01 16:29:26,2022-10-01 16:49:06,Damen Ave & Charleston St,13288,Damen Ave & Cullerton St,13089,41.920037,-87.677937,41.854967,-87.675700,casual
2,3C02727AAF60F873,electric_bike,2022-10-19 18:55:40,2022-10-19 19:03:30,Hoyne Ave & Balmoral Ave,655,Western Ave & Leland Ave,TA1307000140,41.979879,-87.681902,41.966400,-87.688704,member
3,47E653FDC2D99236,electric_bike,2022-10-31 07:52:36,2022-10-31 07:58:49,Rush St & Cedar St,KA1504000133,Orleans St & Chestnut St (NEXT Apts),620,41.902274,-87.627692,41.898203,-87.637536,member
4,8B5407BE535159BF,classic_bike,2022-10-13 18:41:03,2022-10-13 19:26:18,900 W Harrison St,13028,Adler Planetarium,13431,41.874754,-87.649807,41.866095,-87.607267,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
359973,E00E9F3500D69BAA,electric_bike,2021-11-29 00:39:13,2021-11-29 00:51:41,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929454,-87.684195,41.930000,-87.720000,member
359974,8EAA66CE314E5FF1,electric_bike,2021-11-03 13:56:33,2021-11-03 14:01:27,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929440,-87.684180,41.940000,-87.690000,member
359975,36C2DC8BB1E13491,electric_bike,2021-11-02 19:32:18,2021-11-02 19:36:16,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929452,-87.684135,41.940000,-87.690000,member
359976,8E42FE5C67DF6A96,electric_bike,2021-11-10 20:15:06,2021-11-10 20:22:01,Logan Blvd & Elston Ave,TA1308000031,NaN,NaN,41.929428,-87.684175,41.940000,-87.690000,member
359977,4F15069E2D2519BC,electric_bike,2021-11-30 20:18:00,2021-11-30 20:37:27,Ogden Ave & Chicago Ave,TA1305000020,NaN,NaN,41.896354,-87.653982,41.950000,-87.700000,member

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5755694 entries, 0 to 359977
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 614.8+ MB

In [5]:
dataset.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    878177
start_station_id      878177
end_station_name      940010
end_station_id        940010
start_lat                  0
start_lng                  0
end_lat                 5835
end_lng                 5835
member_casual              0
dtype: int64

In [6]:
dataset = dataset.dropna(how='any',axis=0)

print("Null values removed successfully.")

dataset.isnull().sum()

Null values removed successfully.

ride_id               0
rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

In [7]:
dataset.duplicated().any()

False

In [8]:
pd.options.mode.chained_assignment = None  # default='warn'

dataset["started_at"] = pd.to_datetime(dataset["started_at"])
dataset["ended_at"] = pd.to_datetime(dataset["ended_at"])

print("Typecast of variables changed successfully.") 
dataset.info()

Typecast of variables changed successfully.
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410438 entries, 0 to 359967
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 471.1+ MB

In [9]:
dataset["start_hour"] = dataset["started_at"].dt.hour
dataset["start_hour"].unique()

array([17, 16, 18,  7, 15,  9, 12, 14,  1,  8, 19, 10, 11,  0, 20,  3, 21,
       13,  6, 23, 22,  2,  4,  5], dtype=int64)

In [10]:
dataset["start_day_num"] = dataset["started_at"].dt.dayofweek
day_dict = {0:"Domingo", 1:"Segunda", 2:"TerÃ§a", 3:"Quarta", 4:"Quinta", 5:"Sexta", 6:"Sabado"}
dataset["start_day_name"]= dataset["start_day_num"].apply(lambda y:day_dict[y])

In [11]:
dataset["day_of_year"] = dataset["started_at"].dt.day_of_year

In [12]:
dataset['start_month_num'] = dataset['started_at'].dt.month
dataset["start_month_num"].unique()

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1, 12, 11], dtype=int64)

In [13]:
month_dict = {1:"Janeiro", 2:"Fevereiro", 3:"MarÃ§o", 4:"Abril", 5:"Maio", 6:"Junho", 7:"Julho", 8:"Agosto", 9:"Setembro", 10:"Outubro", 11:"Novembro", 12:"Dezembro"}
dataset["start_month_name"]= dataset["start_month_num"].apply(lambda y:month_dict[y])
dataset["start_month_name"].unique()

array(['Outubro', 'Setembro', 'Agosto', 'Julho', 'Junho', 'Maio', 'Abril',
       'MarÃ§o', 'Fevereiro', 'Janeiro', 'Dezembro', 'Novembro'],
      dtype=object)

In [14]:
dataset['start_year'] = dataset['started_at'].dt.year
dataset["start_year"].unique()

array([2022, 2021], dtype=int64)

In [15]:
dataset["trip_duration"] = dataset["ended_at"] - dataset["started_at"]
dataset["trip_duration"] = pd.to_numeric(dataset["trip_duration"])/6e+10

In [16]:
dataset["trip_distance"] = np.sqrt(((dataset["end_lat"] - dataset["start_lat"])**2) + ((dataset["end_lng"] - dataset["start_lng"])**2))
dataset["trip_distance"] = dataset["trip_distance"] * 111.139

In [17]:
dataset.rename(columns = {'member_casual': 'user_type'}, inplace=True)

In [18]:
dataset["weekend"] = np.where(dataset["start_day_num"] > 5, True, False)

In [19]:
dataset.sort_values(by = ["started_at"], inplace = True, ascending = True)
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_hour,start_day_num,start_day_name,day_of_year,start_month_num,start_month_name,start_year,trip_duration,trip_distance,weekend
81735,9B28379EC39C521C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:04:06,Halsted St & Roscoe St,TA1309000025,Clarendon Ave & Gordon Ter,13379,41.943711,-87.648880,...,0,0,Domingo,305,11,Novembro,2021,3.866667,1.566519,False
66162,6BB9F79FB5BFFA0C,electric_bike,2021-11-01 00:00:14,2021-11-01 00:30:10,Green St & Madison St,TA1307000120,Kosciuszko Park,15643,41.881840,-87.649066,...,0,0,Domingo,305,11,Novembro,2021,29.933333,9.900922,False
184197,7705C605D750A621,electric_bike,2021-11-01 00:01:36,2021-11-01 00:09:44,Michigan Ave & Pearson St,13034,Canal St & Monroe St,13056,41.897041,-87.623095,...,0,0,Domingo,305,11,Novembro,2021,8.133333,2.347271,False
23352,D1785C29432887EE,classic_bike,2021-11-01 00:02:35,2021-11-01 00:16:38,State St & 79th St,573,Halsted St & 78th St,20233,41.750794,-87.624424,...,0,0,Domingo,305,11,Novembro,2021,14.050000,2.172945,False
142427,17247CF119C77514,classic_bike,2021-11-01 00:02:36,2021-11-01 00:11:17,Green St & Randolph St,13053,Franklin St & Illinois St,RN-,41.883668,-87.648670,...,0,0,Domingo,305,11,Novembro,2021,8.683333,1.678457,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226726,5ABBB2624D3F8E53,classic_bike,2022-10-31 23:57:47,2022-11-01 00:03:49,Ellis Ave & 55th St,KA1504000076,Harper Ave & 59th St,KA1503000070,41.794301,-87.601450,...,23,0,Domingo,304,10,Outubro,2022,6.033333,1.621790,False
549296,9CFAD93CB61F0C9C,docked_bike,2022-10-31 23:57:53,2022-11-01 00:01:08,Sheridan Rd & Irving Park Rd,13063,Sheridan Rd & Montrose Ave,TA1307000107,41.954245,-87.654406,...,23,0,Domingo,304,10,Outubro,2022,3.250000,0.825617,False
108209,D524E5A0DF7C9911,classic_bike,2022-10-31 23:58:19,2022-11-01 00:02:18,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,...,23,0,Domingo,304,10,Outubro,2022,3.983333,1.361771,False
231592,01ADE233A9F32DD2,classic_bike,2022-10-31 23:58:52,2022-11-01 00:02:49,Ellis Ave & 55th St,KA1504000076,Ellis Ave & 53rd St,KA1503000052,41.794301,-87.601450,...,23,0,Domingo,304,10,Outubro,2022,3.950000,0.562317,False
312373,BD3A75394F109FCC,classic_bike,2022-10-31 23:59:33,2022-11-01 00:08:47,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Roscoe St,13071,41.929143,-87.649077,...,23,0,Domingo,304,10,Outubro,2022,9.233333,2.321546,False

In [20]:
dataset["trip_duration"].describe(include = "all")

count    4.410438e+06
mean     1.724182e+01
std      5.725808e+01
min     -1.687000e+02
25%      6.083333e+00
50%      1.066667e+01
75%      1.911667e+01
max      3.435407e+04
Name: trip_duration, dtype: float64

In [21]:
trip_mins = dataset[["started_at", "ended_at", "trip_duration"]]
trip_mins.nlargest(10, ["trip_duration"])

                started_at            ended_at  trip_duration
67464  2022-03-05 19:08:58 2022-03-29 15:43:02   34354.066667
717461 2022-07-04 18:37:11 2022-07-27 00:32:38   32035.450000
31630  2021-12-01 08:02:00 2021-12-22 10:42:33   30400.550000
47709  2022-01-01 01:00:05 2022-01-21 08:51:11   29271.100000
23249  2022-01-06 19:07:45 2022-01-25 14:30:33   27082.800000
14409  2021-12-12 15:52:31 2021-12-28 08:50:53   22618.366667
278645 2021-11-08 18:27:45 2021-11-24 05:47:29   22279.733333
104995 2021-12-02 15:57:11 2021-12-16 15:41:18   20144.116667
18274  2021-11-04 10:29:04 2021-11-17 19:06:53   19237.816667
27853  2021-12-14 03:00:53 2021-12-24 21:03:51   15482.966667

In [22]:
# removing outliers by creating filters
outliers_trip_duration = (dataset["trip_duration"] < 1) | (dataset["trip_duration"] > 480)
outliers_trip_duration.value_counts()

False    4331978
True       78460
Name: trip_duration, dtype: int64

In [23]:
dataset.drop(dataset.index[outliers_trip_duration], inplace = True)

print("Inconsistent values deleted successfully.")

Inconsistent values deleted successfully.

In [24]:
dataset

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_hour,start_day_num,start_day_name,day_of_year,start_month_num,start_month_name,start_year,trip_duration,trip_distance,weekend
23352,D1785C29432887EE,classic_bike,2021-11-01 00:02:35,2021-11-01 00:16:38,State St & 79th St,573,Halsted St & 78th St,20233,41.750794,-87.624424,...,0,0,Domingo,305,11,Novembro,2021,14.050000,2.172945,False
142427,17247CF119C77514,classic_bike,2021-11-01 00:02:36,2021-11-01 00:11:17,Green St & Randolph St,13053,Franklin St & Illinois St,RN-,41.883668,-87.648670,...,0,0,Domingo,305,11,Novembro,2021,8.683333,1.678457,False
204557,70C4E7F9FA3428AD,electric_bike,2021-11-01 00:04:13,2021-11-01 00:14:58,Wells St & Hubbard St,TA1307000151,Honore St & Division St,TA1305000034,41.890163,-87.634253,...,0,0,Domingo,305,11,Novembro,2021,10.750000,4.600061,False
293089,9EA3575A5538CC2E,classic_bike,2021-11-01 00:05:33,2021-11-01 00:08:41,Southport Ave & Irving Park Rd,TA1309000043,Clark St & Grace St,TA1307000127,41.954177,-87.664358,...,0,0,Domingo,305,11,Novembro,2021,3.133333,0.689010,False
160216,9E24AF16B1F55CC9,classic_bike,2021-11-01 00:06:13,2021-11-01 00:10:12,Larrabee St & Webster Ave,13193,Clark St & Lincoln Ave,13179,41.921822,-87.644140,...,0,0,Domingo,305,11,Novembro,2021,3.983333,1.260462,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201563,823E5495FD29F1B1,electric_bike,2022-10-31 23:57:15,2022-11-01 00:18:24,New St & Illinois St,TA1306000013,State St & Randolph St,TA1305000029,41.890723,-87.618549,...,23,0,Domingo,304,10,Outubro,2022,21.150000,1.234843,False
226726,5ABBB2624D3F8E53,classic_bike,2022-10-31 23:57:47,2022-11-01 00:03:49,Ellis Ave & 55th St,KA1504000076,Harper Ave & 59th St,KA1503000070,41.794301,-87.601450,...,23,0,Domingo,304,10,Outubro,2022,6.033333,1.621790,False
549296,9CFAD93CB61F0C9C,docked_bike,2022-10-31 23:57:53,2022-11-01 00:01:08,Sheridan Rd & Irving Park Rd,13063,Sheridan Rd & Montrose Ave,TA1307000107,41.954245,-87.654406,...,23,0,Domingo,304,10,Outubro,2022,3.250000,0.825617,False
108209,D524E5A0DF7C9911,classic_bike,2022-10-31 23:58:19,2022-11-01 00:02:18,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,...,23,0,Domingo,304,10,Outubro,2022,3.983333,1.361771,False
312373,BD3A75394F109FCC,classic_bike,2022-10-31 23:59:33,2022-11-01 00:08:47,Halsted St & Wrightwood Ave,TA1309000061,Southport Ave & Roscoe St,13071,41.929143,-87.649077,...,23,0,Domingo,304,10,Outubro,2022,9.233333,2.321546,False

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3888411 entries, 23352 to 312373
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user_type           object
 13  start_hour          int64
 14  start_day_num       int64
 15  start_day_name      object
 16  day_of_year         int64
 17  start_month_num     int64
 18  start_month_name    object
 19  start_year          int64
 20  trip_duration       float64
 21  trip_distance       float64
 22  weekend             bool
dtypes: bool(1), datetime64[ns](2), float64(6), int64(5), object(9)
memory usage: 686.0+ MB

In [26]:
dataset_time = dataset.iloc[:, [1, 2, 3, 12, 13, 16, 14, 17, 20, 21, 22]]
dataset_time.insert(9, "rides_num", 1)
dataset_time

,rideable_type,started_at,ended_at,user_type,start_hour,day_of_year,start_day_num,start_month_num,trip_duration,rides_num,trip_distance,weekend
23352,classic_bike,2021-11-01 00:02:35,2021-11-01 00:16:38,member,0,305,0,11,14.050000,1,2.172945,False
142427,classic_bike,2021-11-01 00:02:36,2021-11-01 00:11:17,member,0,305,0,11,8.683333,1,1.678457,False
204557,electric_bike,2021-11-01 00:04:13,2021-11-01 00:14:58,member,0,305,0,11,10.750000,1,4.600061,False
293089,classic_bike,2021-11-01 00:05:33,2021-11-01 00:08:41,member,0,305,0,11,3.133333,1,0.689010,False
160216,classic_bike,2021-11-01 00:06:13,2021-11-01 00:10:12,member,0,305,0,11,3.983333,1,1.260462,False
...,...,...,...,...,...,...,...,...,...,...,...,...
201563,electric_bike,2022-10-31 23:57:15,2022-11-01 00:18:24,member,23,304,0,10,21.150000,1,1.234843,False
226726,classic_bike,2022-10-31 23:57:47,2022-11-01 00:03:49,member,23,304,0,10,6.033333,1,1.621790,False
549296,docked_bike,2022-10-31 23:57:53,2022-11-01 00:01:08,casual,23,304,0,10,3.250000,1,0.825617,False
108209,classic_bike,2022-10-31 23:58:19,2022-11-01 00:02:18,member,23,304,0,10,3.983333,1,1.361771,False
312373,classic_bike,2022-10-31 23:59:33,2022-11-01 00:08:47,casual,23,304,0,10,9.233333,1,2.321546,False

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3888411 entries, 23352 to 312373
Data columns (total 23 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  user_type           object
 13  start_hour          int64
 14  start_day_num       int64
 15  start_day_name      object
 16  day_of_year         int64
 17  start_month_num     int64
 18  start_month_name    object
 19  start_year          int64
 20  trip_duration       float64
 21  trip_distance       float64
 22  weekend             bool
dtypes: bool(1), datetime64[ns](2), float64(6), int64(5), object(9)
memory usage: 686.0+ MB

In [28]:
dataset_gps = dataset.iloc[:, [2, 4, 5, 3, 6, 7, 8, 9, 10, 11, 12, 14, 20, 21]]
dataset_gps

,started_at,start_station_name,start_station_id,ended_at,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,user_type,start_day_num,trip_duration,trip_distance
23352,2021-11-01 00:02:35,State St & 79th St,573,2021-11-01 00:16:38,Halsted St & 78th St,20233,41.750794,-87.624424,41.752487,-87.643902,member,0,14.050000,2.172945
142427,2021-11-01 00:02:36,Green St & Randolph St,13053,2021-11-01 00:11:17,Franklin St & Illinois St,RN-,41.883668,-87.648670,41.891023,-87.635480,member,0,8.683333,1.678457
204557,2021-11-01 00:04:13,Wells St & Hubbard St,TA1307000151,2021-11-01 00:14:58,Honore St & Division St,TA1305000034,41.890163,-87.634253,41.903124,-87.673562,member,0,10.750000,4.600061
293089,2021-11-01 00:05:33,Southport Ave & Irving Park Rd,TA1309000043,2021-11-01 00:08:41,Clark St & Grace St,TA1307000127,41.954177,-87.664358,41.950780,-87.659172,member,0,3.133333,0.689010
160216,2021-11-01 00:06:13,Larrabee St & Webster Ave,13193,2021-11-01 00:10:12,Clark St & Lincoln Ave,13179,41.921822,-87.644140,41.915689,-87.634600,member,0,3.983333,1.260462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201563,2022-10-31 23:57:15,New St & Illinois St,TA1306000013,2022-11-01 00:18:24,State St & Randolph St,TA1305000029,41.890723,-87.618549,41.884621,-87.627834,member,0,21.150000,1.234843
226726,2022-10-31 23:57:47,Ellis Ave & 55th St,KA1504000076,2022-11-01 00:03:49,Harper Ave & 59th St,KA1503000070,41.794301,-87.601450,41.787943,-87.588315,member,0,6.033333,1.621790
549296,2022-10-31 23:57:53,Sheridan Rd & Irving Park Rd,13063,2022-11-01 00:01:08,Sheridan Rd & Montrose Ave,TA1307000107,41.954245,-87.654406,41.961670,-87.654640,casual,0,3.250000,0.825617
108209,2022-10-31 23:58:19,Paulina St & 18th St,TA1307000159,2022-11-01 00:02:18,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858166,-87.656495,member,0,3.983333,1.361771
312373,2022-10-31 23:59:33,Halsted St & Wrightwood Ave,TA1309000061,2022-11-01 00:08:47,Southport Ave & Roscoe St,13071,41.929143,-87.649077,41.943739,-87.664020,casual,0,9.233333,2.321546

In [29]:
dataset.to_csv('cyclistic_dataset.csv', index=False)

print("Dataset exported as CSV file successfully.")

Dataset exported as CSV file successfully.